/* Apply a top border to the first row */
#string-0 {
    border-top: 2px solid black;
}

/* Apply a bottom border to the last row */
#string-5 {
    /* Adjust this if you have more or fewer rows */
    border-bottom: 2px solid black;
}

/* Apply side borders to all rows */
[id^="string-"] {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}


/* Style for all fret boxes */
.fret {
    border-right: 2px solid black;
    margin-left: 8px;
    position: relative;
    top: 0px;
    height: 62px;
    /* Simulates the fret wire */
}
.unvisiblefret {
    border-right: 2px solid black;
    margin-left: 8px;
    position: relative;
    top: 0px;
    height: 62px;
    opacity: 0;
    /* Simulates the fret wire */
}


/* Remove border-right for the last fret */
.fret:last-child {
    border-right: none;
}

.fretboardNote {
    
}
/* For all fretnums */
[id^="fretNm-"] {
    background-color: #ffffff !important;
}
[id^="fretNm-"] > p {
    color: black !important;
}
#fretNm-3,
#fretNm-5,
#fretNm-7,
#fretNm-10,
#fretNm-12,
#fretNm-15,
#fretNm-17 {
    background-color: black !important;
}

#fretNm-3 > p,
#fretNm-5 > p,
#fretNm-7 > p,
#fretNm-10 > p,
#fretNm-12 > p,
#fretNm-15 > p,
#fretNm-17 > p {
    color: white !important;
}
